@media screen and (min-width:415px) and (max-width:767px) {
	/*Begin Draft Page*/
.draft_list {
    width: 100%;
	padding: 5px 10px;
}
.draft_body {
    width: 100%;
	padding: 5px 10px;
}
.draft_date {
    width: 100%;
}
.draft_date p {
    text-align: left;
    width: 50%;
    float: left;
}
ul.ul_net {
    margin-bottom: 0px;
    float: right;
}

}
@media screen and (max-width:414px) {
.main_box {
	margin-left:0px !important;
}
.saveas {
    padding: 12px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	width:100%;
}
.save {
     width: 100% !important;
}
.addnew_box ul.btn_group .pull-right {
	float: none !important;
}
.cancel {
    padding: 12px 33px !important;
    width: 100% !important;
}
.leftboard .nav-tabs {
    border-bottom: 1px solid #06ceaf !important;
    height: 60px;
    overflow-x: scroll;
    display: flex;
    width: 100%;
}
ul.btn_group li:last-child {
    display: block;
    margin-top: 5px;
    float: left !important;
}
.leftboard .nav-tabs > li {
    padding-left: 5px;
    display: table;
    width: 149px;
}
.radio_input label {
    
    display: flex;
    line-height: 1.8;
}
#reg_menu .radio-inline input {
    width: 0 !important;
    margin-top: 8px;
    margin-left: 80px !important;
}
#menu_reg input {
    width: 100%;
}
#sel1 {
    width: 100%;
}
.btn_submit {
   
    width: 261px !important;
   
}
.profile-logo {
    margin: 20px 85px 20px;
   
}
.note_sub h4 {
    line-height: 1.7;
    text-align: left;
}
.qsn {
    padding-left: 0px !important;
}

.mcq_head_box {
    margin-left: 0px !important;
}
.result_box{
    margin-left: 0px !important;
}
.sub_box {
    margin-top: 70px !important;
}

.question_box {
    margin-left: 0px !important;
}
.sm_control .form-control {
    width: 180px !important;
}
.sheet_box {
    margin-left: 0px !important;
}
.tute_head {
    margin-left: 0px !important;
}
.read_box {
    margin-left: 0px !important;
}
ul.btn_group li:last-child {
    
    width: 100% !important;
}
.draft {
    width: 100% !important;
     margin-bottom: 20px !important;
}
.qs_ans {
    margin-left: 0px !important;
}

.qs_ans h5 {
    padding-left: 0px !important; 
}
.mrg_top {
    margin-top: 50px;
}
.chart_area {
    margin-left: 0px;
    padding: 15px 0px;
}
.sub-heading {
    width: 100%;
}
/*Begin Draft Page*/
.draft_list {
    width: 100%;
}
.draft_body {
    width: 100%;
}
.draft_date {
    width: 100%;
}
.draft_date p {
    text-align: left;
    width: 50%;
    float: left;
}
ul.ul_net {
    margin-bottom: 0px;
    float: right;
}
}

@media screen and (min-width:320px) and (max-width:375px) {
.leftboard .nav-tabs {
    border-bottom: 1px solid #06ceaf !important;
    height: 60px;
    overflow-x: scroll;
    display: flex;
    width: 100%;
}
.main_box {
    margin-left: 0px !important;
}

.saveas {
    padding: 12px 15px;
	margin-top: 5px;
	bottom: 5px;
	width:100%;
}
ul.btn_group li:last-child {
    display: block;
    margin-top: 5px;
    float: left !important;
}
.leftboard .nav-tabs > li {
    padding-left: 5px;
    display: table;
    width: 149px;
}
.radio_input label {
    
    display: flex;
    line-height: 1.8;
}
#reg_menu .radio-inline input {
    width: 0 !important;
    margin-top: 8px;
    margin-left: 80px !important;
}
#menu_reg input {
    width: 100%;
}
#sel1 {
    width: 100%;
}
.btn_submit {
   
    width: 261px !important;
   
}
.profile-logo {
    margin: 20px 85px 20px;
   
}
.note_sub h4 {
    line-height: 1.7;
    text-align: left;
}
.qsn {
    padding-left: 0px !important;
}

.mcq_head_box {
    margin-left: 0px !important;
}
.result_box{
    margin-left: 0px !important;
}
.sub_box {
    margin-top: 70px !important;
}
.save {
    padding: 12px 39px;
}
.question_box {
    margin-left: 0px !important;
}
.sm_control .form-control {
    width: 180px !important;
}
.sheet_box {
    margin-left: 0px !important;
}
.tute_head {
    margin-left: 0px !important;
}
.read_box {
    margin-left: 0px !important;
}
ul.btn_group li:last-child {
    
    width: 100% !important;
}
.draft {
    width: 100% !important;
     margin-bottom: 20px !important;
}
.save {
     width: 100% !important;

}

.qs_ans {
    margin-left: 0px !important;
}

.qs_ans h5 {
    padding-left: 0px !important; 
}
.cancel {
    padding: 12px 33px !important;
	width: 100%;
}
.mrg_top {
    margin-top: 50px;
}
.chart_area {
    margin-left: 0px;
    padding: 15px 0px;
}
.sub-heading {
    width: 100%;
}
.draft_date p {
    text-align: left;
    width: 50%;
    float: left;
}
ul.ul_net {
    margin-bottom: 0px;
    float: right;
}
}